<p id="notice"><%= notice %></p>

<section id="discounts">
  <div class="container">
    <div id="discounts-grid">
      <% @medicamentos.each do |medicamento| %>
        <div class="discount-card">
          <img> <%= medicamento.imagem %></img>
          <span><%= medicamento.nome %></span>
          <div class="card-preco">de R$ <span class="strike"><%= medicamento.preco_inicial %></span><br>
            por R$ <%= medicamento.preco_final %>
            <br>
            desconto de X%!
          </div>
          <span></span>
          <span>Validade: <%= medicamento.validade %></span>
        </div>
      <%end%>
    </div>
  </div>
</section>


<!-- <table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>De</th>
      <th>Por</th>
      <th>Validade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicamentos.each do |medicamento| %>
      <tr>
        <td><%= medicamento.nome %></td>
        <td><%= medicamento.preco_inicial %></td>
        <td><%= medicamento.preco_final %></td>
        <td><%= medicamento.validade %></td>
        <td><%= link_to 'Show', medicamento %></td>
        <td><%= link_to 'Edit', edit_medicamento_path(medicamento) %></td>
        <td><%= link_to 'Destroy', medicamento, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Medicamento', new_medicamento_path %> -->


