<p id="notice"><%= notice %></p>


<%= image_tag @medicamento.image.url(:thumb) %>
<p>
  <strong>Nome:</strong>
  <%= @medicamento.nome %>
</p>

<p>
  <strong>Preco inicial:</strong>
  <%= @medicamento.preco_inicial %>
</p>

<p>
  <strong>Preco final:</strong>
  <%= @medicamento.preco_final %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @medicamento.validade %>
</p>

<%= link_to 'Edit', edit_medicamento_path(@medicamento) %> |
<%= link_to 'Back', medicamentos_path %>
