<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="style.css" type="text/css" />
    
  </head>

  <body>
  	<div class="wrapper">
            
            <div id="hero">
                <h1>Compre remédios com desconto</h1>
                <h3>Encontre medicamentos com até 90% de desconto</h3>
                <a href="#" id="hero-button">Pesquisar</a>
                <a><%= form_tag medicamentos_path, :method => 'get' do %>
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag "Pesquisar" %>
                <% end %>
                </a>
            </div>
            
            <nav>
                <span class="green-logo">mediz.in</span>
                <ul>
                    <li><a href="/medicamentos">Descontos</a></li>
                    <li><a href="#">Comprimissos</a></li>
                </ul>
            </nav>
            
            <section id="viability">
                <div class="container">
                    <div class="card">
                        <div class="card-icon pills"></div>
                        <div class="card-text">
                            <span>Evite o desperdício</span>
                            <p>Em 201X, Y medicamentos foram incinerados
                            pela perda da validade, ocasionando Z% do gás
                            carbono liberado na atmosfera no mesmo ano</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon plus"></div>
                        <div class="card-text">
                            <span>Responsabilidade ambiental</span>
                            <p>Ao adquirir um produto, você estará
                            evitando o desperdício de medicamentos e que
                            mais gases poluentes sejam emitidos</p>
                        </div>
                    </div>
                </div>
            </section>
            
    </div>
    <%= yield %>
  </body>
</html>
