<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="style.css" type="text/css" />
    
  </head>

  <body>
  	<div class="wrapper">
            
            <div id="hero">
                <h1>Compre remédios com desconto</h1>
                <h3>Encontre medicamentos com até 90% de desconto</h3>
                <a href="#" id="hero-button">Pesquisar</a>
                <a><%= form_tag medicamentos_path, :method => 'get' do %>
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag "Pesquisar" %>
                <% end %>
                </a>
            </div>
            
            <nav>
                <span class="green-logo">mediz.in</span>
                <ul>
                    <li><a href="/medicamentos">Descontos</a></li>
                    <li><a href="#">Comprimissos</a></li>
                </ul>
            </nav>
            
            
            
    </div>
    <%= yield %>
  </body>
  <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</html>
